.footer{
    width: 95%;
    height:150px;
    border: dotted;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2.5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #cc33ff;
    float: left;
}