.footer{
    width: 95%;
    height:190px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2.5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #003366;
    float: left;
}
.footer p{
    color: white;
}
